<html>

<head>
  <title>
    Reset Password
  </title>
<link rel="stylesheet" href="/css/forget.css">

</head>

<body>
    
<div id="reset">
    <h1>
        Don't Worry!!
    </h1>
<form action="/forgot-password/link" method="get">
    <input type="email" placeholder="Enter Registered Email" name="email" required><br>
    <input type="submit" value="Get reset link to your mail">
</form>
</div>

</body>

</html>